/* Reseta o estilo padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', Times, serif;
    color: #333;
    line-height: 1.6;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .hero {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('imagens/background.png') no-repeat center/cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .title {
    font-size: 2.9rem;
    margin-bottom: 1rem;
  }
  
  .subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .cta-button {
    background-color: #ff007f;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #e60070;
  }
  
  .about {
    padding: 4rem 0;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .about h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .about p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .gallery {
    padding: 3rem 0;
  }
  
  .gallery h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .gallery .grid {
    width: 100%;
    display: block;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .gallery .grid{
    overflow-x:scroll;
    white-space: nowrap;
    transition: transform 0.3s ease-in-out;
  }

  .gallery .grid-item{
    display: inline-block;
    width: 32%;
    padding: 0px;
  }
  .gallery .grid::-webkit-scrollbar {
    height: 5px; /* Altura da barra de rolagem */
  }

  .gallery .grid::-webkit-scrollbar-thumb {
      background: #e60070; /* Cor do controle de rolagem */
      border-radius: 10px; /* Bordas arredondadas */
      transition: background 0.3s ease-in-out;
  }

  .gallery::-webkit-scrollbar-thumb:hover {
      background: #888; /* Cor ao passar o mouse */
  }

  .gallery .grid::-webkit-scrollbar-track {
      background: transparent; /* Fundo da barra de rolagem */
  }
  
  .gallery .grid-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .grid-item img:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  }
  
  .footer {
    background-color: #222;
    color: white;
    padding: 2rem 0;
    text-align: center;
  }
  
  .footer a {
    color: #ff007f;
    text-decoration: none;
    margin-top: 1rem;
    display: inline-block;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }

  .quem-sou {
    padding: 4rem 2rem;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #f9f9f9);
    color: #333;
    text-align: center;
    position: relative;
  }
  
  .quem-sou h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #ff007f;
  }
  
  .quem-sou p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.8;
    text-align: justify;
  }

  .quem-sou .perfil img{
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 160px);
    max-width: 300px;
    top: -155px;
    transition: transform 0.6s ease, box-shadow 0.3s ease;
  }

  .quem-sou .perfil img:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  }

  .quem-sou .icones{
    margin-top: 50px;
  }

  .quem-sou .icones img{
    transition: transform 0.6s ease, box-shadow 0.3s ease;
    height: 50px;
    padding: 10px, 10px;
  }

  .quem-sou .icones img:nth-child(1){
    padding-right: 15px;
  }

  .quem-sou .icones img:hover {
    transform: scale(1.05);
  }

  .quem-sou .container{
    margin-top: 115px;
  }
  
  .cupom {
    padding: 0 0 3rem;
  }
  
  .cupom h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  .coupon-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.coupon {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.coupon button {
    background-color: #ff007f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
}
.coupon button:hover {
    background-color: #e60070;
}
/* Estilos do Popup */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content a{
  color: #e60070;
  text-decoration-color: white;
}

.popup-content a:hover{
  text-decoration-color: #e60070;
}


.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.popup-content button {
    margin-top: 15px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.popup-content button:hover {
    background-color: #c82333;
}

#cupom-certo{
  font-weight: 900;
  color: #ff007f;
}
.popup-overlay p{
  display: block;
  padding: 10px 5px;
}
.popup-overlay a{
  display: block;
}

@media (max-width: 768px) {
  .title {
    font-size: 2.5rem;
  }
  .about h2 {
    font-size: 2rem;
  }
  .quem-sou h2 {
    font-size: 2rem;
  }
  .cupom h2 {
    font-size: 2rem;
  }
  .gallery h2 {
    font-size: 2rem;
  }
}